/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
.ctp-practices-checkboxes {
    height: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.ctp-inline-group {
    display: flex;
    flex-wrap: wrap;
}
.ctp-inline-group > div {
    flex-grow: 1;
}